{% for l in syslog_config %}
$ActionQueueType {{ l.queue_type | default('LinkedList') }}
$ActionQueueFileName srvrfwd{{ loop.index }}
$ActionResumeRetryCount {{ l.resume_retry_count | default(-1) }}
$ActionQueueSaveOnShutdown {{ 'on' if l.queue_save_on_shutdown | default(true) else 'off' }}
$ActionQueueDiscardSeverity 0
*.* @{{ '@' if l.target_protocol | default('udp') == 'udp' else '' }}{{ l.target_ip }}:{{ l.target_port | default('514') }}
{% endfor %}

